<!DOCTYPE html>
<html id="page">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
</head>

<body>

    <div id="cont">
        <!-- <h1>Feature</h1> -->
        
        
        <p id="f_name"></p>
        <p id="type">Feature</p>


    </div>

</body>

</html>

<style type="text/css">
    #cont {
        width: 60vw;
        /* display: flex;
        align-items: center;
        justify-content: center; */
    }

    body {
        background-color: rgb(17, 17, 17);
    }

    #type {
        color: #353f4f;
        position: relative;
        top: 53px;
        left: 278px;
        width: fit-content;
        background-color: #040607;
        padding: 11px;
        margin: 0px;
        border-radius: 5px;
        font-family: roboto;
        /* font-size: 13px; */
    }

    /* #features_cont { 
        display: flex;
        flex-wrap: wrap;
        z-index: 0;
        position: relative;
        top: 68px;
        width: 1616.5px;

    } */

    /* .feature {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        row-gap: 5px;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 220px;
        background-color: rgb(43, 43, 43);
        border-radius: 3%;
        transition: height 0.5s, width 0.5s;
        z-index: 1;
        margin: 5px;
    }  */

    #features_cont {
        display: grid;
        flex-wrap: wrap;
        z-index: 0;
        position: relative;
        top: 173.5px;
        width: 90vw;
        /* bottom: 184px; */
        left: 58px;
    }

    .features_cont_mov {
        display: flex;
        flex-wrap: wrap;
        z-index: 0;
        position: relative;
        top: 444px;
        width: 90vw;
        /* bottom: 184px; */
        left: 58px;
    }

    .feature {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        row-gap: 5px;
        /* justify-content: center; */
        align-items: center;
        width: 257.5px;
        height: 180.5px;
        background-color: rgb(36, 36, 36);
        border-radius: 3%;
        transition: height 0.5s, width 0.5s;
        z-index: 1;
        margin: 5px;
        text-decoration: none;

    }

    .feature_name {
        color: rgb(255, 255, 255);
        font-family: roboto;
    }

    .feature_name {
        color: rgb(255, 255, 255);
        font-family: roboto;
        /* position: relative; */
        /* top: 137px; */
        /* left: 10px; */
        margin: 0px;
        height: fit-content;
    }


    .movie_name {
        font-family: roboto;
        color: rgb(0, 0, 0);
        margin: 0px;
        text-align: center;
        font-size: 12px;
    }

    .minitype {
        width: 21px;
        height: 23px;
        background-color: #534b4b;
        position: relative;
        top: -69px;
        left: 214px;
    }

    /* .minitypecont {
        position: relative;
    } */

    .contentr {
        width: fit-content;
        height: 18.5px;
        background-color: #373737;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 5px;
        left: 5.5px;
    }

    .contentrt {
        font-family: roboto;
        color: #7b7b7b;
        font-size: 10px;
    }

    .vcoun {
        position: relative;
        text-decoration: none;
        color: #111;
        font-size: 11px;
        font-family: roboto;
        margin: 0px;
        left: 208.5px;
        top: -34px;
        background-color: #469b6f;
        height: fit-content;
        padding: 3px;
        border-radius: 3px;
    }


    .nameandratcont {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        top: 151px;
        left: 10.5px;
        height: fit-content;
    }

    .thumbnail {
        width: 255.5px;
        position: relative;
        bottom: 27.5px;
        left: 1.5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .minifeature {
        width: fit-content;
        height: 21px;
        background-color: rgb(57, 57, 57);
        margin: 3.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        border-style: solid;
        border-width: 1.2px;
        border-color: rgb(66, 66, 66);
    }

    .minifeaturename {
        font-family: roboto;
        color: white;
        font-size: 10.5px;
        display: flex;
        /* align-content: center; */
        /* justify-content: center; */
        padding-left: 5px;
        padding-right: 5px;
    }

    .minifeatures {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 175.5px;
        width: 300.5px;
    }

    .more_minis {
        position: relative;
        top: -33px;
        left: 136px;
        background-color: #353535;
        font-size: 12px;
        height: 23px;
        width: 41px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: roboto;
        color: white;
        border-radius: 30px;
    }

    .minifeatureswindow {
        background-color: #151515;
        width: 427px;
        height: 211px;
        position: relative;
        top: -681px;
        left: 489px;
        border-radius: 30px;
        display: flex;
        flex-wrap: wrap;
    }

    .movie {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 100px;
        height: 100px;
        margin-top: -60px;
        background-color: rgb(195, 195, 195);
        border-radius: 100%;
        justify-content: center;
        align-items: center;
        text-decoration: none;

    }

    /* .movie_big {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        row-gap: 5px;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        background-color: rgb(43, 43, 43);
        border-radius: 3%;
        transition: height 0.5s, width 0.5s;
        z-index: 1;
        margin: 5px;
    } */

    .movie_big {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        row-gap: 5px;
        /* justify-content: center; */
        align-items: center;
        width: 258.5px;
        height: 206px;
        background-color: rgb(36, 36, 36);
        border-radius: 3%;
        transition: height 0.5s, width 0.5s;
        z-index: 1;
        margin: 5px;
        text-decoration: none;

    }

    .mid_movies_cont {
        display: flex;
        flex-wrap: wrap;
        height: 200px;
        width: 400px;
    }

    /* .movie_page_header {
        color: rgb(255, 255, 255);
        font-family: roboto;
        font-size: 20px;
    }  */
    /* 
    .movie_page_header {
    color: rgb(255, 255, 255);
    font-family: roboto;
    font-size: 20px;
    position: relative;
    bottom: 349px;
    left: 109px;
} */

    /* .movie_page_header {
        color: rgb(255, 255, 255);
        font-family: roboto;
        font-size: 20px;
        position: relative;
        bottom: -30px;
        left: 108px;
        width: 462px;
        margin: 0px;
    } */

    /* .movie_page_header {
        color: rgb(255, 255, 255);
        font-family: roboto;
        font-size: 20px;
        position: relative;
        bottom: -54px;
        left: 130px;
        width: 462px;
        margin: 0px;
    }  */

    .movie_page_header {
        color: rgb(255, 255, 255);
        font-family: roboto;
        font-size: 36px;
        position: relative;
        bottom: -32px;
        left: 130px;
        width: 462px;
        margin: 0px;
    }

    .movie_descrip {
        color: rgb(255, 255, 255);
        font-family: roboto;
        position: relative;
        bottom: -23.5px;
        left: 130px;
        width: 627px;
    }

    .genre_container {
        position: relative;
        top: 26.5px;
        display: flex;
        left: 126px;
    }

    .genre {
        color: white;
        font-family: roboto;
        margin-right: 6px;
        background-color: #1e1e1e;
        width: fit-content;
        height: fit-content;
        padding-left: 3px;
        padding-right: 3px;
        border-radius: 32.5px;
        padding: 8.5px;
        border-width: 1px;
        border-style: solid;
        border-color: #848484;
    }

    /* .type_tag_cont {
        background-color: #484848;
        width: 94px;
        border-radius: 5px;
        height: 38px;
        position: relative;
        left: 314px;
        top: -36px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .type_tag {
        font-family: roboto;
        color: #777575;
        font-size: 30px;
    } */

    .expand_button {
        font-family: roboto;
        color: white;
    }

    .feature_page_hea {
        color: rgb(255, 255, 255);
        font-family: roboto;
        position: absolute;
        bottom: 809.5px;
        font-size: 45px;
        left: 95px;
        top: 14px;
    }

    #m_or_f_switch {
        width: 100px;
        height: 50px;
        background-color: rgb(25, 25, 25);
        position: fixed;
        top: 12px;
        left: 753px;
        border-radius: 5px;
    }

    /* .thumbnail {
        width: 300px;
    } */


    #feature_movies_cont {
        display: flex;
        flex-wrap: wrap;
        z-index: 0;
        position: relative;
        top: 68px;

    }



    .preview {
        background-color: #151515;
        width: 225.5px;
        height: 211px;
        position: absolute;
        top: -681px;
        left: 489px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }

    #name_and_year {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        top: 11px;
        left: 13.5px;
        height: fit-content;
    }

    #movie_name2 {
        color: white;
        font-family: roboto;
        position: relative;
        /* left: 16px; */
        /* top: -9px; */
        font-size: 19px;
        margin: 0px;
        height: fit-content;
    } 


    #score {
        position: relative;
        width: fit-content;
        font-family: roboto;
        color: #f2c100;
        font-size: 12px;
        top: -1.5px;
        left: 63.5px;
        margin: 0px;
        height: 30px;
        height: 18px;
        width: fit-content;
    }

    :root {
        --deg: "asdasd";
        --quo: '"';
    }

   #movie_name2::after {
        content: var(--deg);
        width: fit-content;
        height: 14px;
        position: relative;
        background-color: #353535;
        /* display: block; */
        font-size: 10px;
        left: 7px;
        top: -2px;
        color: #171717;
        border-radius: 14.5px;
        padding: 3px;
    }

    #plot_pr {
        color: white;
        font-family: roboto;
        font-size: 12px;
        width: 206px;
        position: relative;
        left: 9px;
        top: 1px;
        margin: 0px;
        height: fit-content;
    }

    #release_year_pr {
        color: #121212;
        font-family: roboto;
        position: relative;
        left: 9px;
        top: 0px;
        font-size: 11px;
        background-color: #2c2c2c;
        padding: 5px;
        border-radius: 10px;
        margin: 0px;
        height: fit-content;
    }

    #votes {
        position: relative;
        text-decoration: none;
        color: #111;
        font-size: 11px;
        font-family: roboto;
        margin: 0px;
        left: 10px;
        top: 7.5%;
        background-color: #469b6f;
        height: fit-content;
        padding: 3px;
        border-radius: 3px;
        width: fit-content;
    }

    .upsoca_cont {
        position: relative;
        margin-top: 79.5px;
    }

    .assoca_cont {
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }


    .assoca_name {
        position: relative;
        color: white;
        left: 20px;
        margin-bottom: 0px;
    }

    .more {
        position: relative;
        top: 450px;
        left: 1540px;
        color: white;
        text-decoration: none;
    } 

    #pgeneres {
        display: flex;
        height: fit-content;
        width: fit-content;
        top: 10px;
        position: relative;
        left: 5px;

    }

    .pgenre {
        position: relative;
        margin: 0px;
        margin-left: 3px;
        background-color: #b9c8ce;
        padding: 3px;
        font-size: 12px;
        border-radius: 4px;
        font-family: roboto;
    }

    /* element {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        top: 10px;
        width: fit-content;
        height: 20px;
    } */
</style>
<script>

    const options = { method: 'GET', headers: { "Authorization": "Bearer ACCESS_TOKEN" } };
    const page = document.getElementById("page");

    async function getconrate(movie) {
        response = await fetch(`https://www.omdbapi.com/?i=${movie}&apikey=f69b1da2`);
        ar = await response.json();

        return ar['Rated'];
    }


    async function createmovie(z, size) {
        x = z['name']
        movie = document.createElement("a");
        movie.href = `/m/${z['my_index']}`;
        movie_name = document.createElement('p');
        movie_name.innerHTML = x
        movie_name.setAttribute('class', 'feature_name')
        if (size == "small") {
            movie.setAttribute('class', 'movie')
        } else {
            movie.setAttribute('class', 'movie_big')
        }
        movie.setAttribute('id', x)
        let thumbnail = document.createElement('div');
        thumbnail.setAttribute("class", "thumbnail_cont");
        minitype = document.createElement('div');
        minitype.setAttribute("class", "minitype");
        minitypecont = document.createElement('p');
        minitypecont.setAttribute("class", "minitypecont");
        minitypecont.innerHTML = "Movie";
        // minitype.appendChild(minitypecont);

        vcoun = document.createElement('p');
        vcoun.setAttribute("class", "vcoun");
        vcoun.innerHTML = z['imdb_votes'];

        nameandratcont = document.createElement("div");
        nameandratcont.setAttribute("class", "nameandratcont");
        respone = await getconrate(z['imdb_id']);
        contentr = document.createElement('div');
        contentr.setAttribute("class", "contentr");
        contentrt = document.createElement('p');
        contentrt.setAttribute("class", "contentrt")
        contentrt.innerHTML = respone;
        contentr.appendChild(contentrt);
        nameandratcont.appendChild(movie_name);
        nameandratcont.appendChild(contentr);

        movie.appendChild(nameandratcont)

        fetch(`https://api.themoviedb.org/3/search/movie?api_key=15d2ea6d0dc1d476efbca3eba2b9bbfb&query=${x}`, options)
            .then(res => res.json())
            .then(res =>

                thumbnail.innerHTML = `<img class="thumbnail", src=https://image.tmdb.org/t/p/w500/${res['results'][0]['backdrop_path']}>`
            )
            .catch(err => console.error(err, x));




        // movie.appendChild(movie_name);
        movie.appendChild(thumbnail);
        // movie.appendChild(minitype);
        minifeatures = document.createElement('div');
        minifeatures.setAttribute("class", "minifeatures");
        for (let i = 0; i < 3; i++) {
            minifeature = document.createElement("div");
            minifeature.setAttribute("class", "minifeature");
            minifeature.innerHTML = `<p class="minifeaturename">${JSON.parse(z['keywords'])[i]}</p>`
            minifeatures.appendChild(minifeature);


        }

        more_features = document.createElement("div");
        more_features.setAttribute("class", "minifeature");
        more_features.innerHTML = `<p class="minifeaturename">+ ${JSON.parse(z['keywords']).length - 3}</p>`
        more_features.onclick = function () {
            e = create_element("minifeatureswindow")
            up_cont.append(e);
            for (i = 0; i < JSON.parse(z['keywords']).length; i++) {
                minifeature = document.createElement("div");
                minifeature.setAttribute("class", "minifeature");
                minifeature.innerHTML = `<p class="minifeaturename">${JSON.parse(z['keywords'])[i]}</p>`
                e.appendChild(minifeature);
            }
        }
        minifeatures.appendChild(more_features);
        movie.appendChild(vcoun);
        movie.appendChild(minifeatures);






        // thumbnail.onclick = function () {
        //     createmoviepage(z);
        // }



        movie.onmousemove = async function (e) {
            preview1 = document.getElementById("preview1");
            preview1.style.visibility = "visible";


            movie_name2 = document.getElementById("movie_name2");
            movie_name2.innerHTML = z['name'];



            // response1 = await fetch(`https://www.omdbapi.com/?i=${z['imdb_id']}&apikey=f69b1da2`);
            // descript = await response1.json();

            descriptt = document.getElementById("plot_pr");
            // release_year = document.getElementById("release_year_pr");
            votes = document.getElementById("votes");
            generes = document.getElementById("pgeneres");
            descriptt.innerHTML = "";
            // release_year.innerHTML = "";
            votes.innerHTML = "";
            generes.innerHTML = "";


            descriptt.innerHTML = z['description'];
            // release_year.innerHTML = z['release_year'];
            votes.innerHTML = z['imdb_votes'];
            score.innerHTML = z['imdb_avg_vote'];

            genere_lst = JSON.parse(z['Genre'])
            for (i=0; i<genere_lst.length; i++) {
                genre = document.createElement("p");
                genre.setAttribute("class", "pgenre");
                genre.innerHTML = genere_lst[i];
                generes.appendChild(genre);
            }



            preview1.style.top = `${e.clientY + page.scrollTop}px`;
            preview1.style.left = `${e.clientX}px`;

            var root = document.querySelector(':root');
            root.style.setProperty('--deg', `"${z['release_year']}"`);


        } 

        // movie.onmouseout = function() {
        //     preview1 = document.getElementById("preview1");
        //     preview1.style.visibility = "hidden";

        // }



        // movie.appendChild(contentr);

        return movie;


    }








    async function calldb(query = '', autocomplet = false) {
        response = await fetch('/usey', {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ a: autocomplet, b: query })
        });
        data = await response.json();

        if (query.length < 1) {
            for (i = 0; i < 9; i++) {
                resy = await createfeature(data[i]);
                cont.appendChild(resy);
            }
        } else {
            return data;
        }
    }

    // async function show() {
    // 	res = await calldb(`SELECT * FROM features WHERE name == "jealousy" limit 10;`);
    // 	console.log(res);
    // } 

    up_cont = document.getElementById("cont");



    res = <%-JSON.stringify(fuck)%>
    page_n = <%-JSON.stringify(path)%>


    console.log(res, page_n, "ADO");


    async function create_fpage() {
        cont = document.createElement("div");
        cont.setAttribute("id", "features_cont");
        up_cont.appendChild(cont);
        console.log(res, "resss")

        feature_head = document.createElement('p');
        feature_head.setAttribute("class", "feature_page_hea"); 
        feature_head.innerHTML = page_n
        up_cont.appendChild(feature_head);

        cont.style.display = "flex";
        for (let i = 0; i < res.length; i++) {
            resp = await createmovie(res[i]);
            cont.appendChild(resp);
        }


        const preview = create_element("preview", "preview1");
        // release_year = create_element("", "release_year_pr", "p");
        descriptt = create_element("", "plot_pr", "p");
        movie_name2 = create_element("", "movie_name2", "p");
        votes = create_element("", "votes", "p");
        score = create_element("", "score", "p");


        name_and_year = create_element("", "name_and_year", "div");
        name_and_year.appendChild(movie_name2);
        // name_and_year.appendChild(release_year);

        generes = create_element("", "pgeneres", "div");

        preview.appendChild(name_and_year);
        preview.appendChild(votes);
        preview.appendChild(score);
        preview.appendChild(descriptt);
        preview.appendChild(generes);
        up_cont.appendChild(preview);


        amount = 20;

        che = true;
        window.addEventListener("scroll", async function () {

            let cont = document.getElementById("features_cont");
            let b = page.scrollHeight - page.clientHeight;
            if (che) {
                che = false;
                if (page.scrollTop >= b) {
                    amount = amount + 20;
                    console.log("HAPPE")
                    query2 = `SELECT * FROM movies
                        WHERE keywords LIKE "%${page_n.split(" > ")[0]}%" AND keywords LIKE "%${page_n.split(" > ")[1]}%" ORDER BY imdb_votes DESC limit ${amount}, 20;`
                    console.log(query2, "query IN");
                    movies = await calldb(query2);
                    console.log(movies[0].length);
                    for (i = 0; i < movies[0].length; i++) {
                        console.log(i);
                        console.log(movies[0][i], movies);
                        movie = await createmovie(movies[0][i]);
                        cont.appendChild(movie);
                    }
                    amount = amount + 20;
                }
                che = true;

                
            }
            







        })



    }

    function create_element(class_, name = '', type = 'div') {
        console.log(class_);
        new_element = document.createElement(type);
        new_element.setAttribute("class", class_);
        if (name.length > 1) {
            new_element.setAttribute("id", name)
        }
        return new_element;
    }



    create_fpage()

</script>